numpy==1.26.4, 
chromadb==0.4.24, 
pytesseract, 
opencv-python-headless, 
pdf2image, 
Pillow, 
sentence-transformers, 
langchain, 
langchain-groq, 
langchain-community,
groq, 
ultralytics, 
doclayout-yolo, 
huggingface_hub, 
fastapi, 
uvicorn, 
pyngrok, 
python-multipart, 
nest_asyncio, 
rank-bm25
